@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
    background-color: #ffffff;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .inputbox{
    width: 100%;
    /*padding: 15px;*/
    /*margin: 10px 0;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }
  .inputbox.focused{
    border: 2px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0)
  }
  .box{
    background: #f8f8f8;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px  2px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-height: 450px;
    margin-top: 50px;
  }
  .heading {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: semi-bold;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:36px ;
  }
  .input-field{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  #field1{
    padding:15px
    
  }

  #field2{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #field3{
   height: 0px;
   border: none;
   box-shadow: none;
   border-radius: 0px;
   outline: none;
   
  }

  .forgot-password{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #6c63ff;
    text-decoration: none;
    padding-top: 20px;
  }

  .login-btn{
    width: 100%;
    padding: 10px;
    background: #a259ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .signup-text{
    padding-top: 20px;
  }

  .signup-text a{
    font-size: 14px;
    
  }

  .illustration {
    margin-top:20px;
  }

  .illustration img{
    width: 100%;
    height:480px;
  }
  #togglePassword{
    width: 32px;
    /*height: 32px;
    display: inline; 
    margin-left: -1.5%; 
    vertical-align: middle;*/
    cursor: pointer;
    margin-right: 10px;
  }
